<html xmlns:ng="http://angularjs.org">
  <head>
    <title>synctube</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script type="text/javascript">
      var video = document.getElementById("video");
      var params = { allowScriptAccess: "always" };
      var atts = { id: "player" };
      swfobject.embedSWF("https://www.youtube.com/apiplayer?version=3&enablejsapi=1", 
			 "video", "640", "360", "8", null, null, params, atts);
      
      function onYouTubePlayerReady(){
	  angular.element(document).ready(function() {
	      angular.bootstrap(document);
	  });
      }
    </script>
    <script type="text/javascript" src="{{static_url('js/controllers.js')}}"></script>
  </head>
  <body ng-controller="VideoCtrl">
    <div id="title">
      {{!title}}
    </div>
    <div id="video">
    </div>
    <div id="playlist">
          <select multiple ng-hide="videos.length == 0">
	    <option ng-repeat="video in videos">
	      {{!video.title}} - [{{!Math.floor(video.duration / 60)}}:{{!video.duration % 60}}]
	    </option>
	  </select>
    </div>
    <div id="addVideo">
      <input type="text" name="video"
	     placeholder="Enter youtube video link"
	     ng-model="videoUrl"/>
      <button ng-click="addVideo()">Добавить</button>
    </div> 
  </body>
</html>
